@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

.card {
  position: relative;
  width: 100%;
  max-width: 230px;
  height: 300px;
  margin: 1rem;
    margin: 20px auto ;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.card .front,
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}
.card .front .img,
.card .back .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-filter: grayscale(70%) brightness(40%);
          filter: grayscale(70%) brightness(40%);
}
.card .front {
  background-color: #6200EA;
}
.card .back {
  background-color: #FF9E80;
  background-image: linear-gradient(-45deg, #ff774d, #FF9E80);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card:hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.card .contents {
  color: #fff;
  text-align: center;
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}
.card .contents .title::after,
.card .contents .subtitle::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  margin: 1rem auto;
  background: #fff;
}
.card .contents .title {
  font-size: 2.25em;
}
.card .contents .subtitle {
  font-size: 2em;
}
.card .contents .text {
  font-size: 1.125em;
}
.card .contents .socials {
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.card .contents .socials a {
  display: inline-block;
  margin: .5rem;
  font-size: 2em;
  color: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.card .contents .socials a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}